<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body style="padding-top: 15%">
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    <div class="ui error message" style="max-width: 80%;text-align: center;margin:0 auto;border:1px solid;padding-top: 50px;padding-bottom: 50px">
        <div class="ui container">
            <h2>404</h2>
            <p style="font-family: 华光行楷_CNKI;font-size: 20px;">对不起，您访问的资源不存在...</p>
            <p ><a href="http://ningyang.xyz" style="font-size: 15px;font-family: 华光行楷_CNKI;color: #9F3A38">返回?</a></p>
        </div>
    </div>

</body>
</html>